.contact {
    padding: 100px 20px;
    text-align: center;
}

.contact h1 {
    margin-bottom: 30px;
}



.contact-job {
    max-width: 800px;
    margin: 0 auto 50px;
    text-align: center;
}

.contact-job h2 {
    margin-bottom: 15px;
    font-size: 28px;
}

.contact-desc {
    opacity: 0.85;
    margin-bottom: 20px;
    line-height: 1.6;
}

.contact-list {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
}

.contact-list li {
    margin: 8px 0;
    opacity: 0.9;
}

.contact-note {
    font-size: 14px;
    opacity: 0.7;
}




.contact-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    max-width: 1100px;
    margin: auto;
}

.contact-card {
    background: rgba(255,255,255,0.08);
    backdrop-filter: blur(10px);
    padding: 40px 20px;
    border-radius: 15px;
    text-decoration: none;
    color: white;
    transition: all 0.35s ease;
    display: block;
    border: 1px solid rgba(255,255,255,0.1);
}

.contact-card i {
    font-size: 40px;
    margin-bottom: 20px;
}

.contact-card h3 {
    font-size: 22px;
    margin-bottom: 10px;
}

.contact-card p {
    font-size: 16px;
    opacity: 0.8;
}

/* Hover effect */
.contact-card:hover {
    transform: translateY(-10px); /* ยกการ์ดขึ้นเล็กน้อย */
    box-shadow: 0 20px 40px rgba(0,0,0,0.4);
}

/* Platform Colors */
.instagram:hover {
    background: linear-gradient(45deg,#833ab4,#fd1d1d,#fcb045);
}

.facebook:hover {
    background: #1877f2;
}

.tiktok:hover {
    background: #000;
}

.youtube:hover {
    background: #ff0000;
}

.line:hover {
    background: #06C755; /* สีเขียว LINE */
}

